#scenarios-form i.check {
    top: 6px;
}
#scenarios-form .accordion-toggle i.check {
    left: -3px;
}
#scenarios-form i.icon-check-empty {
    /*display: block !important;*/
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
#scenarios-form label:hover i.icon-check-empty {
    display: block !important;
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#scenarios-form ul {
    margin-left: 15px;
    width: 90%;
}
#scenarios-form .check {
    font-size: 14px;
}
#scenarios-form .parameter-label {
    font-size: 16px;
}
#scenarios-form .info-icon {
    font-size: 16px;
}
#scenarios-form .show-layer-btn {
    height: 16px;
    line-height: 16px;
    padding-left: 15px;
}
#scenarios-form .show-layer-btn-group {
    width: 70%;
    margin: 15px 0px 5px 0px;
}
.show-blocks-btn a{
    height: 16px;
    line-height: 16px;
}
.show-blocks-btn i.icon-check-empty {
    opacity: .4;
    /* for IE */
    filter: alpha(opacity=40);
}
.show-blocks-btn:hover i.icon-check-empty {
    opacity: .8;
    /* for IE */
    filter: alpha(opacity=80);
}
#scenarios-form .accordion-heading .accordion-toggle {
    padding: 4px 15px;
}
#scenarios-form .accordion-body {
    border-left: 0px !important;
}
#scenarios-form .accordion-inner {
    padding: 5px 0px;
    border-top: 0px;
    font-weight: normal;
}
#scenarios-form input.hidden_checkbox {
    display:none;
}
#scenarios-form .inputfield {
    margin: 0px 20px;
}
#scenarios-form .btn-info-sign {
    padding: 4px 8px;
}
.show-blocks-btn {
    margin-top: -10px;
    padding-bottom: 10px;
}



div .field > label {
    font-size: 12px;
    display: inline;
}
div.param-checkboxes {
    padding-left: 10px !important;
}
span.potential {
    font-weight:bold; !important;
}
span.traffic {
    font-weight:bold; !important;
}
span.form-image {
    float: left;
    margin-left: -66px;
}
span.form-image > img {
    width:46px;
    height:46px;
}

.traffic {
    margin-top: 5px;
}
.traffic_widget {
    margin-top: 15px;
}

form ul {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 20px;
}
li label {
    font-weight: normal !important;
    margin-bottom: 0px !important;
}

.parameters select {
    margin-bottom: 0px;
}
.parameters .accordion {
    margin-bottom: 0px;
}
form ul.parameters {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 90%;
}

/*form ul.parameters {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 90%;
}*/

form ul.parameters i.info-icon {
    margin-left: 0px !important;
    color: #666;
}
form ul.parameters i.info-icon:hover {
    color: #333;
}

label.step-header {
    margin-top: 5px;
    font-weight: bold;
    padding-left: 5px !important;
}
label.step3-header {
    font-weight: bold;
    padding-left: 5px !important;
    padding-bottom: 10px !important;
}
label.param {
    font-weight: normal !important;
    padding-left: 0px !important;
}
img.info {
    display: inline !important;
}

/* design stuff */

.panel form {
    /*background: none repeat scroll 0 0 #DDDDDD;*/
    border: 1px solid #BBBBBB;
    border-radius: 10px 10px 10px 10px;
    height: 60%;
    width: 90%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}


.panel > form textarea,
.panel > form input[name="name"] {
    width: 90%;
}

.errorlist {
    color: red;
}

form {
    outline: none;
}

i.check {
  position: absolute;
  right: 5px;
  top: 10px;
}

.accordion {
  position: relative;
}

input[type="text"] {
  max-width: 70px;
  font-size: 12px;
}
