{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-1.7.1.js" integrity="sha256-n8wkEJNAWUaIUDnfQoz6fwBRofK9vMWjE6F3qeNfiAY=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{% static 'scenarios/css/scenarios_form.css' %}" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.1/build/ol.js"></script>


    <style>
      .map {
        width: 70%;
      }
      .header {
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        width: 30%;
        text-align: left;
        padding: 0 1em;
      }
      .panel {
        padding: 1em;
        box-sizing: border-box;
        width: 30%;
        right: 0;
        top: 8%;
        /*background-color: green;*/
        border: 1px solid black;
        height: 90%;
        position: absolute;
      }
      .panel_inner {
        /*position: relative;*/
      }
      #scenarios, #scenario_form {
        margin-bottom: 3px;
        min-width: 90%;
        padding: 4px;
        max-height: 50%;
        position: absolute;
        overflow-y: auto;
      }
      #scenarios {
        top: 0;
      }
      #scenario_form {
        border: 1px solid black;
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <div id="map" class="map"></div>
    <div class='header'>
      <h1>Scenarios</h1>
    </div>
    <div id="panel" class="panel">
      <div class='panel_inner'>
        <div id='scenarios'></div>
        <div id='scenario_form'></div>
      </div>
    </div>
    <script src="{% static 'js/lib/knockout-3.3.0.js' %}"></script>
    <script src="{% static 'js/lib/knockout.mapping-2.4.1.js' %}"></script>
    <script src="{% static 'js/knockout-bindings.js' %}"></script>
    <script>
      if (typeof app === 'undefined') {
        app = {};
      }
    </script>

    <!-- Get var map_settings -->
    <script src="{% static 'scenarios/js/' %}{{ MAP_TECH }}_settings.js"></script>

    <script>
        app.planningUnitSource = new ol.source.Vector({
          features: []
        });
        app.map = new ol.Map({
          layers: [
            new ol.layer.Tile({
              source: new ol.source.OSM()
            }),
            new ol.layer.Vector({
              source: app.planningUnitSource
            })
          ],
          target: 'map',
          view: new ol.View({
            center: [0, 0],
            zoom: 2
          })
        });

        $(function() {
          try {
            app.map.getView().fit(app.planningUnitSource.getExtent(), {duration: 1500});
          } catch (e) {
            window.alert('No data received. Please add some features.');
          }
        });

        // var wkt = 'POLYGON((10.689 -25.092, 34.595 ' +
        //     '-20.170, 38.814 -35.639, 13.502 ' +
        //     '-39.155, 10.689 -25.092))';

        var wktFormat = new ol.format.WKT();

        // var feature = wktFormat.readFeature(wkt, {
        //   dataProjection: 'EPSG:4326',
        //   featureProjection: 'EPSG:3857'
        // });

        // planningUnitSource.addFeature(feature);

        $.ajax({
          url: '/scenario/get_planningunits',
          type: 'GET',
          dataType: 'json'
        })
        .done(function(features) {
          for(var i = 0; i < features.length; i++) {
            feature = wktFormat.readFeature(features[i].wkt, {
                dataProjection: 'EPSG:3857',
                featureProjection: 'EPSG:3857'
            });
            app.planningUnitSource.addFeature(feature);
          }
        })
        .fail(function() {
          alert("error");
        });
    </script>

    <script src="{% static 'scenarios/js/models.js' %}"></script>
    <script src="{% static 'scenarios/js/scenarios.js' %}"></script>

    <script>
      {% if GET_SCENARIOS_URL %}
        get_scenarios_url = '{{GET_SCENARIOS_URL}}';
      {% else %}
        get_scenarios_url = '/scenario/get_scenarios';
      {% endif %}
      $.ajax({
        url: get_scenarios_url,
        type: 'GET',
        dataType: 'json'
      })
      .done(function(scenarios) {
        html = '<ul>'
        for (var i = 0; i < scenarios.length; i++) {
          scenario = scenarios[i];
          if(scenario.name == '') {
            scenario_name = 'Scenario ' + scenario.id;
          } else {
            scenario_name = scenario.name;
          }
          {% if SCENARIO_LINK_BASE %}
            scenario_link = '{{SCENARIO_LINK_BASE}}' + "_" + scenario.id;
          {% else %}
            scenario_link = "/features/scenario/scenarios_scenario_" + scenario.id;
          {% endif %}

          html = html + '<li><a href="' + scenario_link + '/" target="_blank">' + scenario_name + '</a></li>';
        }
        html = html + '</ul>';
        $('#scenarios').html(html)
      })
      .fail(function() {
        alert("error");
      });
      {% if SCENARIO_FORM_URL %}
        scenario_form_url = '{{SCENARIO_FORM_URL}}';
      {% else %}
        scenario_form_url = '/features/scenario/form/';
      {% endif %}
      $.ajax({
        url: scenario_form_url,
        type: 'GET',
        // dataType: 'json',
        success: function(scenario_form) {
          app.viewModel.scenarios.scenarioFormModel = new scenarioFormModel();
          $('#scenario_form').html(scenario_form);
        }
      })
      .fail(function() {
        alert("error");
      });

    </script>
  </body>
</html>
